body {
  font-family: "Poppins" sans-serif;
  background: #2d3d2c;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/images/bkground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  border-radius: 5px;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  color: #381f18;
  padding: 16px, 32px;
  margin: 32px;
  display: inline-block;
}
.img-responsive {
  width: 100%;
  display: block;
  aspect-ratio: 1/1;
}
main {
  background-color: white;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
  margin: 0;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.btn {
  display: block;
  color: white;
  background-color: #2d3d2c;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  padding: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: #272044;
  margin: 0;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
section.secondary {
  background: #f8f8f8;
}
.card {
  background-color: white;
  margin: 20px;
}
.card-body {
  padding: 20px;
}
.card-footer {
  padding: 0 30px 30px;
}
.card-header.grid {
  grid-gap: 0;
}
.text-center {
  text-align: center;
}
.grid-2-colomn {
  grid-template-columns: 1fr 1fr;
}
.grid-3-colomn {
  grid-template-columns: 1fr 4fr 1fr;
}
.grid-3-equal-colomn {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.embed {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0;
}
.instagram-embed {
  margin: 30px 0;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(45, 61, 44, 0.9),
      rgba(45, 61, 44, 0.8)
    ),
    url("/images/piano.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20;
  line-height: 30px;
  color: white;
}
footer p {
  font-weight: 400;
  font-size: 16;
  line-height: 24px;
  opacity: 0.6;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  opacity: 0.7;
}
@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 16px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .organ {
    aspect-ratio: 16/9;
  }
}
@media (max-width: 1300px) {
  .grid-break {
    grid-template-columns: 1fr 1fr;
  }
  .hidden-instagram {
    display: none;
  }
}
